<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <style>
        h1 {
            color: rgb(255, 153, 0);
            background: rgb(0, 0, 0);
        }
        p {
            color: rgb(255, 255, 255);
        }
        body {
            background: rgb(0, 0, 0);
            color: rgb(255, 0, 17);
        }
        

    </style>

</head>
<body data-bs-theme="dark">
  <video autoplay muted loop class="video-bg">
    <source src="{{ url_for('static', filename='img/ONILINK.mp4') }}" type="video/mp4">
    Ваш браузер не підтримує відео.
  </video> 
    <nav data-bs-theme="light" class="navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Blog about RG</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Головна</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://www.bing.com/videos/riverview/relatedvideo?q=rickroll+youtube+link&refig=32DCC239A63E4C6AA90BB70B68A49BE8&pc=U531&ucpdpc=UCPD&pq=rickroll+you&pqlth=12&assgl=21&sgcn=rickroll+youtube+link&qs=UT&sgtpv=UT&smvpcn=0&swbcn=12&sctcn=0&sc=12-12&sp=2&ghc=1&cvid=32DCC239A63E4C6AA90BB70B68A49BE8&clckatsg=1&hsmssg=0&ru=%2fsearch%3fq%3drickroll%2byoutube%2blink%26form%3dANNTH1%26refig%3d32DCC239A63E4C6AA90BB70B68A49BE8%26pc%3dU531%26ucpdpc%3dUCPD%26pq%3drickroll%2byou%26pqlth%3d12%26assgl%3d21%26sgcn%3drickroll%2byoutube%2blink%26qs%3dUT%26sgtpv%3dUT%26smvpcn%3d0%26swbcn%3d12%26sctcn%3d0%26sc%3d12-12%26sp%3d2%26ghc%3d1%26cvid%3d32DCC239A63E4C6AA90BB70B68A49BE8%26clckatsg%3d1%26hsmssg%3d0&mmscn=vwrc&mid=172DC0A2FDF42E2386D5172DC0A2FDF42E2386D5&FORM=WRVORC&ntb=1&msockid=584020e3212611f09d58bc089f8652e3">Link</a>
              </li>
                </a>
                <ul class="dropdown-menu">
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true"></a>
              </li>
            </ul>
            <form action="{{url_for('search')}}" class="d-flex" role="search">
            <input name="query" class="form-control me-2" id="search" placeholder="Пошук">
          </div>
        </div>
      </nav>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Контакти
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Привіт</strong> Контакти: +380630412998
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Треба дуже важливий заголовок
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Привіт</strong><code> бот</code> тут я хз що писати
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Дуже важливий заголовок
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <strong>Привіт</strong> не знаю що тут писати, але я тут пишу
          </div>
        </div>
      </div>
      <main class="container">
{% block content %}
{% endblock content %}
        
    <main>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>